.bg-box {
    height: 1200px;
    width: 100%;
    background-color: green;
    background-image: url(./img/house.webp), url(./img/green-png-44873.png), url(./img/lamp-png-34914.png), url(./img/hedgehog.webp), url(./img/donut.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, bottom, top, left, right;
    background-size: 1000px, 500px, 80px, 50px, 50px ;
}